@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *{
    @apply font-main text-[16px] font-medium m-0 p-0 box-border;
  }

  .default-background{
    @apply fixed top-0 left-0 right-0 bottom-0;
    background: linear-gradient(180deg, #0B384B 29%, #10516C 62%, #097275 100%);
  }

  .middle-absolute{
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .curved-boxes-holder{
    @apply flex absolute top-[6px] left-[128px] w-[226px] h-[65px] text-center;
  }

  .curved-corner-bottomleft,
  .curved-corner-bottomright{
    @apply w-[24.5%] h-[14%] relative overflow-hidden;
  }
  .curved-corner-bottomleft:before,
  .curved-corner-bottomright:before{
    @apply block w-[200%] h-[200%] absolute rounded-[50%];
    content: "";
  }
  .curved-corner-bottomleft:before {
    @apply left-0 bottom-0;
    box-shadow: -50px 50px 0 0 #F8F9FA;
  }
  .curved-corner-bottomright:before {
    @apply right-0 bottom-0;
    box-shadow: 50px 50px 0 0 #F8F9FA;
  }

  .input-container input{
    box-sizing: border-box;
    transition: border-color 0.2s, background-color 0.2s;
  }
  .input-container input:focus{
    @apply border-stone04 bg-cream outline-none;
  }
  .input-container label{
    pointer-events: none;
    transition: bottom 0.2s, font-size 0.2s;
  }
  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    animation-name: label-animation;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes label-animation {
    25% {
      font-size: 18px; bottom: 8px;
    }
    50% {
      font-size: 18px; bottom: 50px;
    }
    75%{
      font-size: 16px; left: 16px; bottom: 50px;
    }
    100% {
      font-size: 16px; left: 0px; bottom: 50px;
    }
  }
  

  [type=checkbox] {
    width: 2rem;
    height: 2rem;
    color: #495057;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
  }
  [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  [type=checkbox]:checked {
    background-color: currentcolor;
  }
  [type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
  [type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
  }
  [type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  [type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
}
