@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *{
    @apply font-main;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .gradient-background{
    background: linear-gradient(180deg, #0B384B 29%, #10516C 62%, #097275 100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .centre-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-above-holder{
    width: 226px;
    height: 65px;
    display: flex;
    position: absolute;
    top: 6px;
    left: 128px;
    align-items: center;
  }

  .curved-corner-bottomleft,
  .curved-corner-bottomright{
    width: 113px;
    height: 65px;
    overflow: hidden;
    position: relative;
  }
  .curved-corner-bottomleft:before,
  .curved-corner-bottomright:before{
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
  }
  .curved-corner-bottomleft:before {
    bottom: 0;
    left: 0;
    box-shadow: -75px 50px 0 0 #F8F9FA;
  }
  .curved-corner-bottomright:before {
    bottom: 0;
    right: 0;
    box-shadow: 75px 50px 0 0 #F8F9FA;
  }

  .input-container input{
    box-sizing: border-box;
    transition: border-color 0.2s, background-color 0.2s;
  }
  .input-container input:focus{
    @apply border-stone04 bg-cream outline-none;
  }
  .input-container label{
    pointer-events: none;
    transition: bottom 0.2s, font-size 0.2s;
  }
  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    animation-name: label-animation;
    animation-duration: 0.6s; /* Animation duration */
    animation-fill-mode: forwards;/* Keep the final state after animation */
  }
  @keyframes label-animation {
    25% {
      bottom: 4px;
      font-size: 18px;
    }
    50% {
      bottom: 50px;
      font-size: 18px;
    }
    75% {
      bottom: 50px;
      left: 18px;
      font-size: 16px;
    }
    100% {
      bottom: 50px;
      left: 0px;
      font-size: 16px;
    }
  }
  

  [type=checkbox] {
    width: 2rem;
    height: 2rem;
    color: #495057;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
  }
  [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  [type=checkbox]:checked {
    background-color: currentcolor;
  }
  [type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
  [type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
  }
  [type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  [type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
}
